body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#content {
  text-align: left;
  width: 70%;
  margin: 20px auto 0px auto;
  padding: 0px 0px 0px 0px;
}

.posts {
  list-style: none;
}
.posts .date {
  color: silver;
  font-family: monospace;
}

#footer {
  margin-top: 2em;
  font: small "Lucida Grande", Lucida, Verdana, sans-serif;
}
