<h3 style="margin-top:10px;">Tags</h3>
{% for tag in page.tags %}
<h5><a href="/tags/{{tag}}/">{{tag}}</a></h5>
<ul>
{% for post in site.tags[tag] %}{%if post.url != page.url%}
  <li><a href="{{post.url}}">{{post.title}}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}
<h3 style="margin-top:10px;">Recently</h3>
<ul class="categories">
{% for post in site.posts limit:10 %}
<li><a href="{{post.url}}">{{post.title}}</a></li>
{% endfor %}
</ul>
<h3 style="margin-top:10px;"><a href="/tags/" style="color:black;">Tag Cloud</a></h3>
<div>
{% for tag in site.iterable.tags %}
<a style="font-size: {{ tag.posts | size | times:1.5 | plus: 10 }}px;" href="/tags/{{tag.name}}">{{tag.name}}</a>
{% endfor %}
</div>
