<h3>This Post</h3>
<div style="margin-bottom:10px;">
  Posted at {{ page.date | date:"%B %d, %Y" }}<br/>
  Tags: <span class="tags">{% for tag in page.tags %}<a href="{{site.url}}/tags/{{tag}}/">{{tag}}</a>{% if forloop.last == false %},&nbsp;{% endif %}{% endfor %}</span><br/>
  <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=169204006461153&amp;xfbml=1"></script><fb:like href="{{site.url}}{{page.url}}" send="true" layout="button_count" width="50" show_faces="false" font=""></fb:like>
  <a href="http://b.hatena.ne.jp/entry/{{site.url}}{{page.url}}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ page.title }}" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</div>
<h3>Tags</h3>
<div style="margin-bottom:10px;">
{% for tag in site.tags %}
<a href="/tags/{{tag[0]}}">{{tag[0]}}</a>
{% endfor %}
</div>
<h3>Posts</h3>
<ul class="categories">
{% for post in site.posts %}
<li><a href="{{post.url}}">{{post.title}}</a></li>
{% endfor %}
</ul>
