---
layout: default
---
<div id="guides">
  <div class="guide">
    <div class="main">
      <h1><a href="{{site.url}}{{page.url}}">{{ page.title }}</a></h1>
      <div id="readme" class="announce instapaper_body md">
        <div class="wikistyle">
{{ content }}
        </div>
      </div>
      <div style="text-align:right;">Posted at {{ page.date | date:"%B %d, %Y" }}
      <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=169204006461153&amp;xfbml=1"></script><fb:like href="{{site.url}}{{page.url}}" send="true" layout="button_count" width="50" show_faces="false" font=""></fb:like>
      <a href="http://b.hatena.ne.jp/entry/{{site.url}}{{page.url}}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ page.title }}" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      </div>
      <div class="comments">
{% include disqus_thread.html %}
      </div>
    </div>
    <div class="sidebar">
{% include sidebar.html %}
    </div>
  </div>
</div>
